API/POC/.vs
API/POC/CQRS/bin
API/POC/CQRS/obj
API/POC/POC/bin
API/POC/Demo/bin
API/POC/Demo/obj
API/POC/POC/obj
src/API/POC/.vs
src/API/POC/CQRS/bin
src/API/POC/CQRS/obj
src/API/POC/Demo/bin
src/API/POC/POC/bin
src/API/POC/Demo/obj
src/API/POC/POC/obj
